body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#attendance-list {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #007bff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li span {
    font-weight: bold;
}

/* Media Queries untuk tampilan mobile */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
        box-shadow: none;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }

    h1, h2 {
        font-size: 24px;
    }
}
